

<div class="container logInpage center">
    <div class="row">
    <form [formGroup]="loginForm" (ngSubmit)="SubmitForm()">
        <div class="col-12">
    <div class="form-group">
      <label for="exampleInputEmail1">User name</label>
      <input type="text" class="form-control" formControlName="username" placeholder="Enter User Name" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"  />
      @if(submitted && f['username'].errors){
        <div class="invalid-feedback">
            @if(f['username'].errors['required']){
                <div>Userame is required</div>
            }
        </div>
      }
    
    </div>
</div>
<div class="col-12">
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" formControlName="password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" >
      @if(submitted && f['password'].errors){
        <div class="invalid-feedback">
            @if(f['password'].errors['required']){
                <div>Sassword is required</div>
            }
        </div>
      }
    </div>
</div>
    <br>
    <button type="submit" class="btn btn-primary loginbtn">Login</button>
  </form>
</div>
</div>
